
/* to set the global varaibles */
:root{
    /* for example: */
    --primary-blue: #21b0c0;
    --primary-yellow: #ffe45e;
    --primary-black: #011a2b;
    --primary-white: #eef7fb;
}

.content{
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(0,0,0, 0.5);
    padding: 4rem 1rem;
    margin: 5%;
}

/* styling the big fonts on the homepage */

.intro{
    padding: 5% 0;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave{
    position: absolute;
    z-index: -999;
}

.wave-footer{
    position: absolute;
    z-index: -999;
    height: 50%;
    width: 100%;
}

.column1{
    max-width: 30%;
}
.homepage-hero-h1{
    font-size: 72px;
    letter-spacing: 5px;
}

/* the "Feature" text on homepage */
.homepage-hero-feature{
    font-size: 80px;
    letter-spacing: 5px;
    margin-top: 10%;
    background: linear-gradient(to right,#F44336,black);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

/* for anmation on home page */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;

}

/* for the up arrow on homepage */
.bottom{
    margin-top: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.img-up{
    height: 50px;
    width: 50px;
    border-radius: 20px;
    transition: transform 200ms linear;
    animation: bounce 1.2s infinite both;
}
@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
}

.img-up:hover{
    animation: none;
}

/*  styling the navbar*/
header{
    background: var(--primary-blue);
}
/* custom buttons */
.btn-yellow{
    background-color: transparent;
    color: var(--primary-black);
    border-radius: 8px;
    border: 2px solid var(--primary-yellow);
    font-size: 20px;
    letter-spacing: 2px;
}
.btn-yellow:hover{
    background-color: var(--primary-yellow);
    transition: background-color 0.3s ease-in;
}

.btn-blue{
    background-color: transparent;
    color: var(--primary-black);
    border-radius: 8px;
    border: 2px solid var(--primary-blue);
    font-size: 20px;
    letter-spacing: 2px;
}
.btn-blue:hover{
    background-color: var(--primary-blue);
    transition: background-color 0.3s ease-in;
}

/* overriding navbar brand */
.navbar-brand:hover{
    transform: scale(1.025);
}

.homepage-navbar-title{
    font-size: 30px;
    letter-spacing: 5px;
}

/* custom utilities classes based on our color pallet */
.bg-blue{
    background: var(--primary-blue);
}
.text-yellow{
    color: var(--primary-yellow);
}
.social-icon:hover{
    color: var(--primary-white);
}

/* for sticky footer */
/* app-wide styles */
html,body{
    min-height: 100vh !important;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;

}
.footer{
   margin-top: auto;
}
