{% include 'header.html' %}
{% include 'banner.html' %}

<div class="calendar mb-3">
    <div class="date mb-3 text-center">
        <h1>About</h1>
    </div>

    <div class="container">
        <div class="row blue_border mb-3 pb-2">
            <div class="date">
            <h2>Information</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. In dictum non consectetur a erat nam at
            lectus urna. Ut tristique et egestas quis. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra.
            Vitae elementum curabitur vitae nunc sed velit. At in tellus integer feugiat scelerisque varius morbi enim. Volutpat
            odio facilisis mauris sit amet massa vitae. Mi quis hendrerit dolor magna eget est lorem. Faucibus in ornare quam
            viverra orci sagittis eu. Elit sed vulputate mi sit amet. Et pharetra pharetra massa massa ultricies. Suscipit
            adipiscing bibendum est ultricies integer quis. Nullam ac tortor vitae purus faucibus. Tempor orci dapibus ultrices in.
            
            Quis blandit turpis cursus in hac. Dolor purus non enim praesent. Orci eu lobortis elementum nibh. Nec tincidunt
            praesent semper feugiat nibh. Purus in massa tempor nec feugiat nisl pretium fusce. Pulvinar pellentesque habitant morbi
            tristique. Egestas egestas fringilla phasellus faucibus. Non arcu risus quis varius quam quisque id diam. Morbi tempus
            iaculis urna id volutpat lacus. Scelerisque eleifend donec pretium vulputate sapien nec. Bibendum arcu vitae elementum
            curabitur vitae. Purus faucibus ornare suspendisse sed nisi lacus sed viverra.</p>
            </div>
        </div>

        <div class="row blue_border mb-3 pb-2">
            <div class="date">
                <h2>FAQs</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. In dictum non consectetur a erat nam at
                lectus urna. Ut tristique et egestas quis. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra.
                Vitae elementum curabitur vitae nunc sed velit. At in tellus integer feugiat scelerisque varius morbi enim. Volutpat
                odio facilisis mauris sit amet massa vitae. Mi quis hendrerit dolor magna eget est lorem. Faucibus in ornare quam
                viverra orci sagittis eu. Elit sed vulputate mi sit amet. Et pharetra pharetra massa massa ultricies. Suscipit
                adipiscing bibendum est ultricies integer quis. Nullam ac tortor vitae purus faucibus. Tempor orci dapibus ultrices in.
                
                Quis blandit turpis cursus in hac. Dolor purus non enim praesent. Orci eu lobortis elementum nibh. Nec tincidunt
                praesent semper feugiat nibh. Purus in massa tempor nec feugiat nisl pretium fusce. Pulvinar pellentesque habitant morbi
                tristique. Egestas egestas fringilla phasellus faucibus. Non arcu risus quis varius quam quisque id diam. Morbi tempus
                iaculis urna id volutpat lacus. Scelerisque eleifend donec pretium vulputate sapien nec. Bibendum arcu vitae elementum
                curabitur vitae. Purus faucibus ornare suspendisse sed nisi lacus sed viverra.</p>
            </div>
        </div>

        <div class="row blue_border mb-3 pb-2">
            <div class="date">
                <h2>Contact Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. In dictum non consectetur a erat nam at
                lectus urna. Ut tristique et egestas quis. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra.
                Vitae elementum curabitur vitae nunc sed velit. At in tellus integer feugiat scelerisque varius morbi enim. Volutpat
                odio facilisis mauris sit amet massa vitae. Mi quis hendrerit dolor magna eget est lorem. Faucibus in ornare quam
                viverra orci sagittis eu. Elit sed vulputate mi sit amet. Et pharetra pharetra massa massa ultricies. Suscipit
                adipiscing bibendum est ultricies integer quis. Nullam ac tortor vitae purus faucibus. Tempor orci dapibus ultrices in.
                
                Quis blandit turpis cursus in hac. Dolor purus non enim praesent. Orci eu lobortis elementum nibh. Nec tincidunt
                praesent semper feugiat nibh. Purus in massa tempor nec feugiat nisl pretium fusce. Pulvinar pellentesque habitant morbi
                tristique. Egestas egestas fringilla phasellus faucibus. Non arcu risus quis varius quam quisque id diam. Morbi tempus
                iaculis urna id volutpat lacus. Scelerisque eleifend donec pretium vulputate sapien nec. Bibendum arcu vitae elementum
                curabitur vitae. Purus faucibus ornare suspendisse sed nisi lacus sed viverra.</p>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
