{% include 'header.html' %}
{% include 'banner.html' %}

<div class="calendar mb-3">
    <div class="date mb-3 text-center">
        <h1>About</h1>
    </div>

    <!-- <div class="date mb-3 text-center">
        <p class = "text-center"></p>  -->

    <div class="container">

        <div class="row blue_border mb-3 pb-2">
            <div class="date">
            <h2>Information</h2>
            <p class = "text-start">Taskbook is a calendar app that aims to make organization easier for a user by providing automated task sorting by scheduled date, 
                multiple calendar views to the user’s preference, and customization options. There are three main pages, or “views,” that allow a user to see their 
                scheduled tasks: a monthly view, a weekly view, and a task view. The defining feature of the app is the task view, which focuses the user’s organization 
                by allowing the user to see what they need to do today, and also get a preview of upcoming tasks. This, along with many other features of the site, is customizable so that the user can change aspects of the app to their preference. This project was created by 
                10 students as a semester project for the Software Engineering senior capstone class at Walsh University.</p>

            </div>
        </div>
        
        <div class="row blue_border mb-3 pb-2">
            <div class="date">
                <h2>Contributors</h2>
                <div class="d-flex justify-content-evenly gap-5">
                    <div>
                        <p>Julianne Elbin</p> 
                        <p>Quinton Graham</p>
                        <p>Shruti Gupta</p>
                        <p>Robert Easterday</p>
                        <p>Richard Jamison</p>
                        
                    </div>

                    <div>
                        <p>Sagar Subedi</p>
                        <p>Sean Donnelly</p>
                        <p>Keaton Wirth</p>
                        <p>Evan Bradley</p>
                        <p>David Kelly</p>
                        
                    </div>

                </div>
            </div>
        </div>

        <div class="row blue_border mb-3 pb-2">
            <h2>Tech Stack</h2>
            <div class="d-flex justify-content-evenly gap-5">
                <div>
                    <p><i class="bi bi-code-slash"></i> HTML 5</p>
                    <p><i class="bi bi-border-style"></i> CSS 3</p>
                </div>

                <div>
                    <p><i class="bi bi-bootstrap"></i> Bootstrap 5</p>
                    <p><i class="bi bi-gear"></i> JavaScript</p>
                </div>

                <div>
                    <p><i class="bi bi-table"></i> Dataset</p>
                    <p><i class="bi bi-code-square"></i> Flask</p>
                </div>
            </div>

        </div>

        <div class="row blue_border mb-3 pb-2">
            <div class="date">
                <h2>FAQs</h2>
                <p class="fw-bold">How do I create an account?</p>
                <p>To create an account, click on the “sign up” button. It will bring up a page where you can enter your email address, 
                    create a password, and add a security question. Once you fill out all the 
                    necessary information and hit the “submit” button, your account will be created. </p>
                <p class="fw-bold">Is there a way to export my Tasks?</p>
                <p>No, not at this time</p>
                <p class="fw-bold">Can I share my schedule with other people?</p>
                <p>No, not at this time</p>
                <p class="fw-bold">How do I edit a task?</p>
                <p>When you click on the task on the task view page, it will bring up a popup to edit the task. 
                    Additionally, you can edit the task on the weekly view by clicking on the day the task is 
                    and then clicking on the task to bring the popup to edit the task.</p>
                <p class="fw-bold">Can I change my security question?</p>
                <p>Yes, you can. Once you click on the "Settings" page, it will bring up a page where you can change your security question. 
                    There are other features in the setting page as well where you can customize the software.</p>
                <p class="fw-bold">How do change I my password?</p>
                <p>You can change your password by going to the "Settings" page.</p>
                <p></p>
            </div>
        </div>

    </div>
</div>

{% include 'footer.html' %}
