<header>
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      {% if not(session['user_email']) %}
        <a class="navbar-brand homepage-navbar-title" href="{{url_for('homepage')}}" style="margin-left: 15%;"><i class="bi bi-journal"></i> TASKBOOK</a>
      {% else %}
        <a class="navbar-brand homepage-navbar-title" href="{{url_for('dashboard')}}" style="margin-left: 15%;"><i class="bi bi-journal"></i> TASKBOOK</a>
      {% endif %}
      <form class="d-flex d-none d-sm-none d-md-block" style="margin-right: 15%;">
        <!--button for settings, only appears when logged in-->
        <!-- we had url_for('login') before but we need that auth.login because login route is inside the auth view (auth.py) -->
        <!-- if user is logged in then show logout button else show login button -->
        {% if(session['user_email']) %}
          <!--button for settings, only appears when logged in-->
          <a class="btn btn-yellow mx-2" href="{{url_for('settings')}}">Settings</a>
          <a class="btn btn-yellow mx-2" href="{{url_for('auth.logout')}}">Log Out</a>
        
        {% else %}
        <a class="btn btn-yellow mx-2" href="{{url_for('auth.login')}}" >Login</a>
        {% endif %}
      </form> 
    </div>
  </nav>
</header>

<!-- keeping it here means in anypage where we want to flash alerts, we can do that without repeating the following code -->
<!-- because this page is embedded in all pages -->
<!-- When there are errors  or succes events, it will flash those errors  -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category,message in messages %}
      {% if category=='error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}