{% include 'header.html' %}
{% include 'banner.html' %}

<div class="content-margin mb-3">
    <div class="month">
        <i class="bi bi-caret-left-fill prev"></i>
        <div class="date">
            <h1 class="current-calendar-date"></h1>
            <p class="current-date-header"></p>
        </div>
        <i class="bi bi-caret-right-fill next"></i>
    </div>
    <div class="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
    </div>
    <div class="days"></div>
    <div class="my-3">
        <div class="d-flex float-start">
            <!-- include the Add Task button and its code here -->
            {% include 'add_task_button.html' %}
        </div>
        <div class="d-flex float-end">
            <button type="button" class="btn btn-yellow me-3" onclick="location.href='/weekly';"><i class="bi bi-calendar3-week"></i> Weekly View</a>
            <button type="button" class="btn btn-yellow ms-3" onclick="location.href='/tasks';"><i class="bi bi-calendar3-event"></i> Task View</a>
        </div>
    </div>
</div> 
<!-- End Calendar-->

<!-- Individual page stylesheet and script -->
<link rel="stylesheet" href="{{url_for('static', filename='styles/calendar.css')}}">
<script src="{{url_for('static', filename='scripts/calendar.js')}}"></script>


{% include 'footer.html' %}
