{% include 'header.html' %}
{% include 'banner.html' %}

<div class="calendar">
    <div class="month">
        <i class="bi bi-caret-left-fill"></i>
        <div class="date">
            <h1>December</h1>
            <p>Wednesday December 8, 2021</p>
        </div>
        <i class="bi bi-caret-right-fill"></i>
    </div>
    <div class="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
    </div>
    <div class="days">
        <div class="prev-days">26</div>
        <div class="prev-days">27</div>
        <div class="prev-days">28</div>
        <div class="prev-days">29</div>
        <div class="prev-days">30</div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div class="today">8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
        <div>13</div>
        <div>14</div>
        <div>15</div>
        <div>16</div>
        <div>17</div>
        <div>18</div>
        <div>19</div>
        <div>20</div>
        <div>21</div>
        <div>22</div>
        <div>23</div>
        <div>24</div>
        <div>25</div>
        <div>26</div>
        <div>27</div>
        <div>28</div>
        <div>29</div>
        <div>30</div>
        <div>31</div>
        <div class="next-days">1</div>
        <div class="next-days">2</div>
        <div class="next-days">3</div>
        <div class="next-days">4</div>
        <div class="next-days">5</div>
        <div class="next-days">6</div>
    </div>

    <ul class="view">
        <li><a href="#"><i class="bi bi-plus-circle"></i></a>Add Task</li>
        <li><a href="#"><i class="bi bi-calendar-range"></i></a>Weekly View</li>
        <li><a href="/tasks"><i class="bi bi-calendar2-check"></i></a>Task View</li>
    </ul>
    
</div> <!-- End Calendar-->

{% include 'footer.html' %}