{% include 'header.html' %}
{% include 'banner.html' %}

<div class="calendar mb-3">
    <div class="date mb-3 text-center">
        <h1>Your Dashboard</h1>
    </div>

    <div class="container">
        <!--div for a custom section-->
        <div class="row mb-3 blue_border">
            <div class="date pb-2">
                <h2>Progress</h2>
                <p>
                    This section might show your progress on tasks for today, this week, this month, or something else.
                </p>

                <!--progress bar-->
                <div class="progress">
                    <div class="progress_bar text-center">
                        <h5>25%</h5>
                    </div>
                </div>

            </div>
        </div>

        <!--div for the views section-->
        <div class="row mb-3 blue_border">
            <div class="date pb-2">
                <h2>Views</h2>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-inline-flex flex-column justify-content-center mx-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Proin tortor purus platea sit eu id nisi litora libero.</p>
                        <button type="button" class="btn btn-yellow me-3" onclick="location.href='/calendar';"><i class="bi bi-calendar3"></i>
                            Monthly View</button>
                    </div>
                    <div class="d-inline-flex flex-column justify-content-center mx-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Proin tortor purus platea sit eu id nisi litora libero.</p>
                        <button type="button" class="btn btn-yellow me-3" onclick="location.href='/weekly';"><i
                                class="bi bi-calendar3-week"></i> Weekly View</button>
                    </div>
                    <div class="d-inline-flex flex-column justify-content-center mx-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Proin tortor purus platea sit eu id nisi litora libero.</p>
                        <button type="button" class="btn btn-yellow me-3" onclick="location.href='/tasks';"><i
                                class="bi bi-calendar3-event"></i> Task View</button>
                    </div>
                </div>

                <!--Buttons-->
                <!-- <div class="my-3">
                    <div class="d-flex float-end">
                        <button type="button" class="btn btn-yellow me-3" onclick="location.href='/calendar';"><i
                                class="bi bi-calendar3"></i> Monthly View</button>
                        <button type="button" class="btn btn-yellow me-3" onclick="location.href='/weekly';"><i
                                class="bi bi-calendar3-week"></i> Weekly View</button>
                        <button type="button" class="btn btn-yellow me-3" onclick="location.href='/tasks';"><i
                                class="bi bi-calendar3-event"></i> Task View</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}