<!-- some footer stuff -->
    <footer class="bg-blue text-white pt-5 pb-4">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 fs-5">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-yellow">Taskbook</h5>
                    <p>Taskbook is a calendar app that makes it easy to keep track of to-dos with cool new features</p>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-yellow">Contributors</h5>
                    <div class="d-flex justify-content-center gap-5 fs-5">
                        <div>
                            <p>Role : Person</p>
                            <p>Role : Person</p>
                            <p>Role : Person</p>
                        </div>
                        <div>
                            <p>Role : Person</p>
                            <p>Role : Person</p>
                            <p>Role : Person</p>
                        </div>
                        <div>
                            <p>Role : Person</p>
                            <p>Role : Person</p>
                            <p>Role : Person</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3 fs-5">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-yellow">Tech Stack</h5>
                    <div class="d-flex justify-content-center gap-5">
                        <div>
                            <p><i class="bi bi-code-slash"></i> HTML 5</p>
                            <p><i class="bi bi-border-style"></i> CSS 3</p>
                            <p><i class="bi bi-bootstrap"></i> Bootstrap 5</p>
                        </div>
                        <div>
                            <p><i class="bi bi-gear"></i> JavaScript</p>
                            <p><i class="bi bi-table"></i> Dataset</p>
                            <p><i class="bi bi-code-square"></i> Flask</p>
                        </div>
                    </div>

                </div>
            </div>

            <hr class="mb-4">

            <div class="row align-items-center fs-5">
                <div class="col-md-7 col-lg-8">
                    <p>Copyright &COPY; 2021 All rights reserved by: <strong class="text-yellow">NO ONE</strong></p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right d-flex gap-5">
                        <p><a href="#" class="text-yellow fs-4 social-icon"><i class="bi bi-discord"></i></a></p>
                        <p><a href="#" class="text-yellow fs-4 social-icon"><i class="bi bi-github"></i></a></p>
                        <p><a href="#" class="text-yellow fs-4 social-icon"><i class="bi bi-envelope"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>