    </main>
        <!-- <hr class="mb-4"
            col-md-5
            >
        <div class="container text-center text-md-left">
             <div class="row align-items-start fs-1">-->
        <footer class="bg-blue text-white pt-5 pb-4 footer">
            
            <div class="container text-center">
                <div class="row align-items-center">

                    <div class="col-md-2 fs-1">
                        <p><a class="btn btn-yellow" href="{{url_for('about')}}" >About Us</a></p>
                    </div>

                    <div class="col-md-7 fs-4">
                        <p>Copyright &COPY; 2021 All rights reserved by: <strong class="text-yellow">NO ONE</strong></p>
                    </div>

                    <div class="col-md-3 fs-4">
                        <div class="text-center text-md-right d-flex gap-5">
                            <p><a href="#" class="text-yellow fs-4 social-icon"><i class="bi bi-discord"></i></a></p>
                            <p><a href="#" class="text-yellow fs-4 social-icon"><i class="bi bi-github"></i></a></p>
                            <p><a href="#" class="text-yellow fs-4 social-icon"><i class="bi bi-envelope"></i></a></p>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </body>
</html>