{% include 'header.html' %}
{% include 'banner.html' %}

<!-- start of register page body -->
<!-- FLASK_APP=app.py FLASK_ENV=development flask run -->
<div class="container">

    <div class="row content flex align-items-center justify-content-center">

        <div class="col">
            <!-- left form -->
            <div class="row text-center mt-3">
                <div class="col">
                    <h1 style="margin-left: 18%;">Reset Password!</h1>
                </div>
            </div>
            <!-- <form action="/forgot_password" method="POST" name="user_email"> -->
            <div class="row mt-3" style="margin-left: 30%;" id="user_email_div">
                <div class="col">
                    <label for="user_email" class="form-label fs-3">Your Email</label>
                    <input type="email" name="user_email" id="user_email" class="form-control"/>
                    <div class="alert alert-danger mt-2 hide" role="alert" id="empty_email_alert">
                        Please enter an email!
                    </div>
                    <button type="button" class="btn btn-blue mt-3" id="submit_user_email" name="submit_user_email">Submit</button>
                </div>
            </div>
            <!-- </form> -->

            <div class="row mt-4 hide" style="margin-left: 30%;" id="security_qna">
                <div class="col">
                    <form action="/forgot_password" method="POST">
                        <div class="question_container">
                            <div class="question_box">
                                <div class="question">
                                    <div class="text">
                                        <p id="user_security_question"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-3">
                            <label for="security_answer" class="form-label fs-3">Your Answer (case sensitive)</label>
                            <input type="hidden" name="email_to_change_password" id="email_to_change_password" value="" />
                            <input type="password" class="form-control" id="security_answer" aria-describedby="security_answer" name="security_answer" required>
                        </div>
                </div>
            </div>

            <div class="row my-3 new_pwd hide" style="margin-left: 30%;">
                <div class="col">
                    <label for="new_password_1" class="form-label fs-3">New Password</label>
                    <input type="password" class="form-control" id="new_password_1" name="new_password_1" required>
                    <div id="emailHelp" class="form-text">Password must be at least 8 characters long</div>
                </div>
            </div>

            <div class="row my-3 new_pwd hide" style="margin-left: 30%;">
                <div class="col">
                    <label for="new_password_2" class="form-label fs-3">Confirm Password</label>
                    <input type="password" class="form-control" id="new_password_2" name="new_password_2" required>

                    <button type="submit" class="btn btn-blue mt-3" id="submit_sec_answer" name="submit_sec_answer">Submit</button>

                </div>
            </div>
            </form>

            <div class="row mt-5" style="margin-left: 30%;">
                <div class="col">
                    <h4>Go back to login?</h4>
                    <a href="{{url_for('auth.login')}}" class="text-uppercase btn btn-yellow mt-3">Log In</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- right image -->
            <img src="{{url_for('static', filename='resources/taskbook-forgot-password.svg')}}" alt="join_svg"
                class="img-fluid mt-3">
        </div>

    </div>


<!-- end of container -->
</div>
<link rel="stylesheet" href="{{url_for('static', filename='styles/forgot_password.css')}}">
<script src="{{url_for('static',filename='scripts/forgot_password.js')}}"></script>


{% include 'footer.html' %}