{% include 'header.html' %}
{% include 'banner.html' %}

<!-- start of register page body -->
<!-- FLASK_APP=app.py FLASK_ENV=development flask run -->

<div class="container">

    <div class="row content flex align-items-center justify-content-center">

        <div class="col-md-6">
            <!-- left form -->
            <div class="row text-center mt-3">
                <div class="col">
                    <h1 style="margin-left: 18%;">Reset Password!</h1>
                </div>
            </div>
            <form action="/forgot_password" method="POST" name="user_email">
                <div class="row w-50 mt-3" style="margin-left: 30%;">
                    <div class="col">
                        <label for="user_email" class="form-label fs-3">Your Email</label>
                        <input type="email" name="user_email" id="user_email" class="form-control"/>
                        <div class="alert alert-danger mt-2 hide" role="alert" id="empty_email_alert">
                            Please enter an email!
                        </div>
                        <input type="hidden" name="forgot_password" value="get_user_question" />
                        <button type="submit" class="btn btn-blue mt-3" id="submit_user_email" name="submit_user_email">Submit</button>
                    </div>
                </div>
            </form>

            <div class="row w-50 mt-4 hide" style="margin-left: 30%;" id="security_qna">
                <div class="col">
                    <form action="/register" method="POST">
                        <div class="question_container">
                            <div class="question_box">
                                <div class="question">
                                    <div class="text">
                                        <p>Which is the best phone manufacturing company in the world ? (Only one right answer)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-3">
                            <label for="security_answer" class="form-label fs-3">Your Answer</label>
                            <input type="password" class="form-control" id="security_answer" aria-describedby="security_answer" name="security_answer" required>
                        </div>
                        <input type="hidden" name="forgot_password" value="check_user_answer" />
                        <button type="submit" class="btn btn-blue" id="submit_sec_answer" name="submit_sec_answer">Submit</button>
                    </form>
                </div>
            </div> <!-- end of row-->

            <div class="row mt-5" style="margin-left: 30%;">
                <div class="col">
                    <h4>Go back to login?</h4>
                    <a href="{{url_for('auth.login')}}" class="text-uppercase btn btn-yellow mt-3">Log In</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- right image -->
            <img src="{{url_for('static', filename='resources/taskbook-forgot-password.svg')}}" alt="join_svg"
                class="img-fluid mt-3">
        </div>

    </div>


    <!-- end of container -->
</div>
<script src="{{url_for('static',filename='scripts/forgot-password.js')}}"></script>

<!-- end of register page body -->
{% include 'footer.html' %}