{% include 'header.html'  %}
{% include 'banner.html' %}
<!-- color for illustrations: #F44336 -->


<!-- hero section above the features for the intro -->
<div class="intro">
    <div class="column1">
        <h1 class="fw-light homepage-hero-h1">Welcome to TaskBook</h1>
        <p class="fs-3">Organizing tasks made easy. Simply log into your account and have all your tasks at one place
        </p>
        <!-- had to change to auth.register because of auth.py -->
        <a href="{{url_for('auth.register')}}" class="btn btn-yellow fs-3">Sign Up</a>
    </div>
    <div class="column2">
        <!-- illustration -->
        <img src="{{url_for('static', filename='resources/taskbook-homepage-task-list.svg')}}" alt="illustration" class="img-fluid">
    </div>
</div>


<img src="{{url_for('static', filename='resources/taskbook-homepage-wave.svg')}}" alt="wave" class="wave">

<!-- feature section container -->
<div class="container">
    <!-- these three below are the almost transparent blobs -->
    <!-- <img src="/static/taskbook-homepage-blob1.svg" alt="illustration" class="d-none d-lg-block position-absolute" style="opacity: 0.1; top: 1%; left: 9%; transform: rotate(60deg); width: 30%; z-index: -1;"-->

    <!-- row that says feature -->
    <div class="row text-center reveal">
        <h1 class="homepage-hero-feature">Features</h1>
    </div>

    <!-- have feature two -> multiple views -->
    <div class="row my-3 pt-5 justify-items-center align-items-center reveal" style="margin-top: 10%;">
        <div class="col">
            <!-- illustration -->
            <img src="{{url_for('static', filename='resources/taskbook-homepage-views.svg')}}" alt="illustration" class="img-fluid mt-3">
        </div>
        <div class="col ms-5">
            <h1 class="fw-light homepage-hero-h1">Multiple Views</h1>
            <p class="fs-3">A glace at your tasks in multiple views. Daily, Weekly, and Monthly views make it easier to plan ahead.</p>
        </div>
    </div>

    <!-- have feature three -> highly customizable -->
    <div class="row my-5 pt-3 justify-items-center align-items-center reveal">
        <div class="col ms-5">
            <h1 class="fw-light homepage-hero-h1">Customize and Make It Yours</h1>
            <p class="fs-3">Want things to look different? Customize your app tailored to your needs.</p>
        </div>
        <div class="col">
            <!-- illustration -->
            <img src="{{url_for('static', filename='resources/taskbook-homepage-customization.svg')}}" alt="illustration" class="img-fluid mt-3">
        </div>
    </div>

        <!-- have feature three -> highly customizable -->
    <div class="row my-5 pt-3 justify-items-center align-items-center reveal">
        <div class="col">
            <!-- illustration -->
            <img src="{{url_for('static', filename='resources/taskbook-homepage-automate.svg')}}" alt="illustration" class="img-fluid mt-3">
        </div>
        <div class="col ms-5">
            <h1 class="fw-light homepage-hero-h1">Automated Sorting of Tasks</h1>
            <p class="fs-3">Your tasks will be automatically sorted.</p>
        </div>
    </div>

    <div class="d-flex justify-content-end bottom mt-5">
        <a href="#top"><img src="{{url_for('static', filename='resources/taskbook-homepage-uparrow2.png')}}" alt="GoUp" class="img-up" /></a>
    </div>



<!-- end of conainter -->
</div>

<!-- Individual page stylesheet and script -->
<link rel="stylesheet" href="{{url_for('static', filename='styles/homepage.css')}}">
<script src="{{url_for('static', filename='scripts/homepage.js')}}"></script>

<!-- footer -->
{% include('footer.html') %}