{% include 'header.html' %}
{% include 'banner.html' %}

<!-- start of register page body -->
<!-- FLASK_APP=app.py FLASK_ENV=development flask run -->

<div class="container">

    <div class="row content flex align-items-center justify-content-center">

        <div class="col-md-6">
            <!-- left form -->
            <div class="row text-center mt-3">
                <div class="col">
                    <h1 style="margin-left: 25%;">Create an account!</h1>
                </div>
            </div>

            <div class="row w-50 mt-4" style="margin-left: 30%;">
                <div class="col">
                    <form action="/register" method="POST">
                        <div class="my-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" name="user_email" required>
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="user_password"
                                required>
                            <div id="emailHelp" class="form-text">Password must be at least 8 characters long</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2"
                                name="confirm_password" required>
                        </div>
                        <div class="mb-3">
                            <label for="security_question" class="form-label">Security Question (Create your own)</label>
                            <input type="text" class="form-control" id="security_question" name="security_question" required>
                        </div>
                        <div class="mb-3">
                            <label for="security_answer" class="form-label"> Answer</label>
                            <input type="password" class="form-control" id="security_answer" name="security_answer" required>
                        </div>
                        <button type="submit" class="btn btn-blue" id="signup_user" name="signup_user">Submit</button>
                    </form>
                </div>
            </div> <!-- end of row-->

            <div class="row mt-5" style="margin-left: 30%;">
                <div class="col">
                    <h4>Already have an account?</h4>
                    <a href="{{url_for('auth.login')}}" class="text-uppercase btn btn-yellow mt-3">Log In</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- right image -->
            <img src="{{url_for('static', filename='resources/taskbook_join_logo.svg')}}" alt="join_svg" class="img-fluid mt-3">
        </div>

    </div>


    <!-- end of container -->
</div>

<!-- end of register page body -->
{% include 'footer.html' %}