{% include 'header.html' %}
{% include 'banner.html' %}
<!-- div to add margins to whole page -->
<div class = "calendar mb-3">
    <!--div for the heading-->
    <div class = "date text-center">
        <h1>Settings</h1>
    </div>

    <!--div for account settings-->
    <!--email reset, password reset-->

    <!--div for notification settings-->

    <!--div for appearance settings-->
    <!--dark mode, font size, font type-->

    <!--div for views settings-->
    <!--default view, task view settings, week view settings-->

    <!--div for dashboard settings-->

    <!--div for information/about-->
</div>
{% include 'footer.html' %}