{% include 'header.html' %}
{% include 'banner.html' %}
<!-- div to add margins to whole page -->
<div class = "content-margin mb-3">
    <!--div for the heading-->
    <div class="date mb-3 text-center">
        <h1>Settings</h1>
    </div>

    <div class = "container">       
        <!--div for account settings-->
        <!--email reset, password reset-->
        <div class="row blue_border mb-3 pb-2">
            <div class = "date">
                <h2>Account</h2>
                <h3>Change Password</h3>
                <!--grid for change password-->
                <form method="POST" action="/change_password">
                    <div class="container">
                        <div class="row mb-2">
                            <div class="col">
                                <label>Current Password</label>
                            </div>
                            <div class="col">
                                <input type="password" name="current_password" id="current_password">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label>New Password</label>
                            </div>
                            <div class="col">
                                <input type="password" name="new_password" id="new_password">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label>Confirm New Password</label>
                            </div>
                            <div class="col">
                                <input type="password" name="confirm_password" id="confirm_password">
                            </div>
                        </div>
                    </div>
                    <!--save button-->
                    <div class="d-flex float-end">
                        <button class="btn btn-yellow me-3" type="submit">Submit</button>
                    </div>
                </form>
                <br>
            </div>
        </div>


        <div class="row blue_border mb-3 pb-2">
            <div class="date">
                <h2>Profile</h2>
                <h3>Security Question and Answer</h3>
                <!--grid for change password-->
                <form method="POST" action="/change_security_qa">
                    <div class="container">
                        <div class="row mb-2">
                            <div class="col">
                                <label>Current Question</label>
                            </div>
                            <div class="col">
                                <!-- need this hidden input for JS to get access to email to get the security question -->
                                <input type="hidden" name="current_user" id="current_user" value="{{session['user_email']}}">
                                <textarea type="text" name="current_question" id="current_question" readonly></textarea>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label>Current Answer (case sensitive)</label>
                            </div>
                            <div class="col">
                                <input type="password" name="current_answer" id="current_answer">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label>New Question</label>
                            </div>
                            <div class="col">
                                <textarea type="text" name="new_question" id="new_question"></textarea>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label>New Answer</label>
                            </div>
                            <div class="col">
                                <input type="password" name="new_answer" id="new_answer">
                            </div>
                        </div>
                    </div>
                    <!--save button-->
                    <div class="d-flex float-end">
                        <button class="btn btn-yellow me-3" type="submit">Submit</button>  
                    </div>
                </form>
                <br>
            </div>
        </div>
        
        <!--div for appearance settings-->
        <!--dark mode, font size-->
        <div class=" row blue_border mb-3 pb-2">
            <div class="date">
                <h2>Appearance</h2>
                <h3>Font Settings</h3>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>Font Size</p>
                        </div>
                        <div class="col">
                            <input type = "number">
                        </div>
                    </div>
                </div>
                <h3>App Theme</h3>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>Dark Mode</p>
                        </div>
                        <div class="col">
                            <label class="switch"><input type="checkbox"><span class="slider round"></span></label>
                        </div>
                    </div>
                </div>
                <!--save button-->
                <div class="d-flex float-end">
                    <input class="btn btn-yellow me-3" type="submit">
                </div>
                <br>
            </div>
        </div>
        
        <!--div for views settings-->
        <!--default view, task view settings, week view settings-->
        <div class="row blue_border mb-3 pb-2">
            <div class="date">
                <h2>View Customization</h2>
                <h3>Default View</h3>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label class="radio">Dashboard
                                <input name="default_view" type="radio" class="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col">
                            <label class="radio">Monthly View
                                <input name="default_view" type="radio" class="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col">
                            <label class="radio">Weekly View
                                <input name="default_view" type="radio" class="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col">
                            <label class="radio">Task View
                                <input name="default_view" type="radio" class="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <h3>Task View Customization</h3>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>Upcoming</p>
                        </div>
                        <div class="col">
                            <input type="number" value=10>
                        </div>
                        <div class="col">
                            <select>
                                <option value="Tasks" selected>Task(s)</option>
                                <option value="Days">Day(s)</option>
                                <option value="Weeks">Week(s)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h3>Weekly View Customization</h3>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>Display Days As:</p>
                        </div>
                        <div class="col">
                            <label class="radio">Boxes
                                <input name="week_display" type="radio" class="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col">
                            <label class="radio">Stacked Drop Downs
                                <input name="week_display" type="radio" class="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!--save button-->
                <div class="d-flex float-end">
                    <input class="btn btn-yellow me-3" type="submit">
                </div>
            </div>
        </div>

        <div class="row blue_border mb-3 pb-2">
            <div class="date">
            <h2>Progress Bar Customization</h2>
            <h3>Show Progress As</h3>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label class="radio">Percentage
                            <input name="progress_type" type="radio" class="checkbox" checked>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio">Fraction
                            <input name="progress_type" type="radio" class="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <h3>Show Progress Out Of</h3>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label class="radio">Today's Tasks
                            <input name="progress" type="radio" class="checkbox" checked>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio">This Week's Tasks
                            <input name="progress" type="radio" class="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col">
                        <label class="radio">All Tasks
                            <input name="progress" type="radio" class="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>

            <!--save button-->
                <div class="d-flex float-end">
                    <input class="btn btn-yellow me-3" type="submit">
                </div>
            </div>
        </div>

    </div>
</div>
<script src="{{url_for('static',filename='scripts/settings.js')}}"></script>
{% include 'footer.html' %}