{% include 'header.html' %}
{% include 'banner.html' %}

<style>
  .completed {
    text-decoration: line-through;
  }
</style>

<div class="calendar mb-3">
  <div class="date text-center">
    <h1>January 29 2022</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col task_margin task_border task_col">
        <h1>Today</h1>
        <div class="toast-container" id="toast-container-today">
        </div>
      </div>
      <script src="{{url_for('static', filename='day-view.js')}}"></script>
      <div class="col task_col task_border task_col">
        <h1>Upcoming</h1>
          <div class="toast-container flex-wrap" id="toast-container-upcoming">
          </div>
      </div>
    </div>
  </div>

  <ul class="view">
    <div class="d-flex float-start">
      <!-- include the pop up to add task and the button that triggers that modal -->
      {% include 'add_task_button.html' %}          
    </div>

    <div class="d-flex float-end">
      <button type="button" class="btn btn-yellow me-3" onclick="location.href='{{url_for('weekly')}}';"><i
          class="bi bi-calendar3-week"></i> Weekly View</button>
      <button type="button" class="btn btn-yellow ms-3" onclick="location.href='{{url_for('calendar')}}';"><i
          class="bi bi-calendar3"></i>Monthly View</button>
    </div>
  </div>
</div>

<script>

  //key variable that represents the current day
  let currentDay;

  if(window.location.href.search(/tasks\/\d{4}-\d{1,2}-\d{1,2}/) != -1) {
    currentDay = '{{year}}-' + appendZero('{{month}}') + '-' +  appendZero('{{day}}');
  } else {
    let date = new Date();
    currentDay = date.getFullYear() + '-' + numbers[date.getMonth()+1] + '-' + numbers[date.getDate()];
  }

  //check if path is set to just today
  
  //displays tasks for today
  displayDayTasks(currentDay);
  //displays next 10 tasks
  displayNextTasks(currentDay);

</script>

{% include 'footer.html' %}
