{% include 'header.html' %}
{% include 'banner.html' %}

<style>
  .completed {
    text-decoration: line-through;
  }
</style>

<div class="calendar mb-3">
  <div class="date text-center">
    <h1>January 29 2022</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col task_margin task_border task_col">
        <h1>Today</h1>
        <script src="{{url_for('static', filename='day-view.js')}}"></script>
        <span id="today-tasks"></span>
      </div>
      <div class="col task_col task_border task_col">
        <h1>Upcoming</h1>
        <span id="upcoming-tasks"></span>
      </div>
    </div>
  </div>

  <ul class="view">
    <div class="d-flex float-start">
      <!-- include the pop up to add task and the button that triggers that modal -->
      {% include 'add_task_button.html' %}          
    </div>

    <div class="d-flex float-end">
      <button type="button" class="btn btn-yellow me-3" onclick="location.href='{{url_for('weekly')}}';"><i
          class="bi bi-calendar3-week"></i> Weekly View</button>
      <button type="button" class="btn btn-yellow ms-3" onclick="location.href='{{url_for('calendar')}}';"><i
          class="bi bi-calendar3"></i>Monthly View</button>
    </div>
  </div>
</div>

<script>console.log("{{user}}");</script>

{% include 'footer.html' %}
