{% include 'header.html' %}
{% include 'banner.html' %}


<div class="date text-center">
  <h1>January 30 - February 5</h1>
</div>

<!--Dropdown styles-->
<style>
  .dropdown {
    position: relative;
    display: block;
    padding: 10px;
    margin-bottom: 60px;
    border: 2px solid #21b0c0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  .dropdown:hover {
    background-color: #21b0c0;
  }

  .dropdown:hover .days {
    color: #fff;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffe45e;
    font-size: 18px;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 10px;
  }
  
  .show {
    display:block;
  }

  .days {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    transition: 0.5s ease-in-out;
  }
  
</style>
  
<div class="container">
  {% for day in ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %}
  <div class="dropdown">
    <p class="days">{{day}}</p>
    <div class="dropdown-content">
      <p>[Insert task here]</p>
      <!--Placeholder task - remove when backend is done-->
    </div>
  </div>
  {% endfor %}
</div>
</div>

<div class="container">
  <div class="my-3">
      <div class="d-flex float-start">
          {% include 'add_task_button.html' %}
      </div>
      <div class="d-flex float-end">
          <button type="button" class="btn btn-yellow me-3" onclick="location.href='/calendar';"><i
                  class="bi bi-calendar3"></i> Monthly View</button>
          <button type="button" class="btn btn-yellow ms-3" onclick="location.href='/tasks';"><i
                  class="bi bi-calendar3-event"></i> Task View</button>
      </div>
  </div>
</div>


<script>
  let dropdown = document.querySelectorAll(".dropdown");
  dropdown.forEach(element => {
    element.addEventListener('click', () => {
      element.children[1].classList.toggle('show');
    })
  });
</script>

{% include 'footer.html' %}
