/*for the progress bar in progress section*/
:root {
    --progress-size: 100%;
}

.progress {
    height: 20px;
    width: 98%;
    border: 2px solid var(--primary-yellow);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.progress_bar {
    height: 20px;
    width: var(--progress-size);
    background-color: var(--primary-yellow);
    margin-left: 0;
}

.progress_bar h5 {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.views {
    width: 15%;
}

.views button {
    width: 100%;
}

.dashboard-main {
    width: 85%;
}