/* for forgot password page */
.question_container{
  position: relative;
  background: white;
  cursor: text;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0, 0.25);
  /* height: 70px; */
  width: 300px;
}

.question_container .question_box::before{
  content: "";
  position: absolute;
  width: 2%;
  height: 100%;
  background-color: var(--primary-yellow);
  transition: 0.1s ease-in-out;

}

.question_container .question_box:hover::before{
  width: 8%;
}

.question_box .text{
  margin-left: 20px;
  padding: 10px;
  font-size: 1.15em;

}

.question{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide{
  display: none;
}

.show{
  display: block;
}